.section__three {
	min-height: 100vh;
	background: $blue-250;
	color: $mono-800;
	position: relative;
	box-shadow: $box-shadow-dark;

	&__wrapper {
		height: 100%;
		// background: red;
		width: 100%;
		max-width: 130rem;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		@include md-max {
			padding-bottom: 10rem;
		}
	}

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		margin-bottom: 10rem;

		.top__text {
			padding: 4rem 2rem;
			width: 100%;
			flex: 0.4;
			display: flex;
			align-items: center;
			justify-content: center;

			h1 {
				color: $light-beige;
				letter-spacing: 1rem;
				margin-top: 3rem;

				&:nth-of-type(1) {
					margin-right: 5rem;

					@include md-max {
						margin-right: 2rem;
					}
				}
				&:nth-of-type(2) {
					margin-left: 5rem;
					@include md-max {
						margin-left: 2rem;
					}
				}
			}

			svg {
				height: 10rem;
				width: 10rem;
				color: $light-beige;

				@include md-max {
					height: 8rem;
					width: 8rem;
				}
			}
		}

		.bottom__text {
			font-size: 2rem;
			font-family: $display-font;
			padding-bottom: 4rem;

			@include md-max {
				font-size: 1.2rem;
				padding-bottom: 0;
			}

			span {
				color: $light-beige;
			}
		}
	}
	&__grid__container {
		height: 100%;
		color: white;
		display: grid;
		grid-gap: 3rem;
		grid-template-columns: 1fr 1fr;
		@include md-max {
			grid-template-columns: 1fr;
			// padding: 0 2rem;
		}
		@include md {
			padding-left: 2rem;
		}

		.item {
			@include md-max {
				display: flex;
				flex-direction: column;
			}
			&__title {
				@include md-max {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				display: flex;
				align-items: center;
				font-size: 2rem;
				padding: 2rem 0;
				font-family: $display-font;

				svg {
					margin-right: 3rem;
					color: $light-beige;
					height: 4rem;
					width: 4rem;
				}
			}

			&__desc {
				@include md-max {
					margin: 0 auto;
				}
				font-size: 1.4rem;
				font-family: $main-font;
				color: $mono-600;
				line-height: 1.5;
				max-width: 90%;
			}
		}
	}
}
