.navbar {
	width: 100%;
	max-width: 130rem;
	font-family: $main-font;
	margin: 0 auto;
	padding: 2rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 200;
	background: $mono-900;
	box-shadow: $box-shadow;

	&__logo {
		font-size: 2rem;
		a {
			padding: 0 1rem;
			color: $mono-200;
			font-family: $display-font;
			font-weight: bold;
			letter-spacing: 0.3rem;
			border-bottom: 0.2rem solid $dark-beige;
			position: relative;
			z-index: 200;
		}
	}

	.hamburger {
		position: relative;
		z-index: 200;
		cursor: pointer;

		svg {
			height: 3rem;
			width: 3rem;
		}
	}

	&__list {
		@include flex-center-row;
		list-style: none;
		height: 35rem;
		width: 100%;
		position: absolute;
		top: -50rem;
		left: 0;
		right: 0;
		z-index: 100;
		transition: 0.7s all ease;
		background: $medium-beige;

		@include md-max {
			flex-direction: column;
		}

		li {
			margin-right: 5rem;
			@include md-max {
				font-size: 2.5rem;
				width: 100%;
				text-align: right;
				margin-bottom: 1rem;
				margin-right: 20rem;
			}

			a {
				padding: 0 1rem 1rem 1rem;
				color: $mono-200;
				font-size: 2.2rem;
				text-transform: uppercase;
				font-family: $display-font;

				&:hover {
					color: $mono-800;
					border-bottom: 0.2rem solid $blue-250;
				}
			}
		}

		&.active {
			top: 0;
			box-shadow: $box-shadow;
		}
	}
}
