.offer__container {
	height: 55rem;
	padding: 4rem;
	background: url('/bg1.jpeg');
	@include bg-no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	font-family: $main-font;
	box-shadow: $box-shadow;

	.card__container {
		display: flex;
		align-items: center;
		gap: 1rem;

		.card {
			height: 30rem;
			width: 20rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			background: white;

			img {
				object-fit: cover;
				object-position: top center;
			}

			.card__text {
				width: 100%;
				height: 20%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 2.5rem;
				font-family: $main-font;
				color: $mono-800;
				background: $blue-150;
				border-bottom: 0.5rem solid rgb(185, 137, 98);
				h1 {
					font-size: 1.8rem;
				}
				h2 {
					font-size: 1.2rem;
				}
			}
		}
	}
	.consultation__container {
		// background: white;
		color: white;
		height: 100%;
		width: 60rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 6rem;

		.container__left {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.left__info {
				display: flex;
				justify-content: space-around;
				h3 {
					font-size: 2rem;
					// line-height: 2rem;
					margin-bottom: 1rem;
				}

				svg {
					height: 2rem;
					width: 2rem;
					color: rgb(185, 137, 98);
				}
			}
			.info__cta {
				width: 100%;
				text-align: center;
				font-size: 1.6rem;
			}
		}
		.container__right {
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.6rem;
			background: rgb(185, 137, 98);
			padding: 1.5rem 0;
			cursor: pointer;
		}
	}
}
