.result__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 140rem;
	margin: 0 auto;
	height: 100%;
	// background: $mono-700;
	padding: 5rem 0;

	span {
		color: $dark-beige;
		text-shadow: $box-shadow;
	}

	h1 {
		font-size: 4rem;
		font-family: $main-font;
		color: $mono-200;
		margin: 2rem;
	}

	h4 {
		font-size: 2rem;
		font-family: $main-font;
		margin-bottom: 6rem;
		border-bottom: 0.2rem solid rgb(221, 190, 154);
	}
	.result__grid__container {
		width: 100%;
		max-width: 140rem;
		margin: 0 auto;
		align-items: center;
		justify-content: center;
		display: grid;
		grid-column-gap: 2rem;
		grid-row-gap: 5rem;
		grid-template-columns: repeat(auto-fit, 30rem);

		.grid__item {
			height: 35rem;
			width: 35rem;
			width: 100%;
			display: grid;
			grid-template-rows: 80% 20%;
		}
		.grid__item__image {
			width: 100%;
			height: 100%;
			background: $mono-300;
			box-shadow: $box-shadow;
		}

		.grid__item__title {
			// @include flex-center-row;
			display: flex;
			align-items: center;
			justify-content: center;
			// margin-top: 5rem;
			a {
				color: $mono-200;
				border-bottom: 0.2rem solid $dark-beige;
				font-size: 1.6rem;
				font-weight: 500;
				font-family: $main-font;
			}
		}
	}
}

.contact__link__container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10rem;
	background: $mono-600;
	font-family: $main-font;

	span {
		margin-right: 10rem;
		font-size: 1.6rem;
	}

	a {
		font-size: 1.6rem;
		color: $mono-100;
		font-weight: 600;
		padding: 1rem 2rem;
		background: $dark-beige;
	}
}
